<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="headline headline--large">Welcome!</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here","size":"medium"} -->
<h2 class="headline headline--medium">We think you'll like it here</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Why don't you check out the \u003cstrong\u003emajor\u003c/strong\u003e you are interested in?","size":"small"} -->
<h3 class="headline headline--small">
  Why don't you check out the <strong>major</strong> you are interested in?
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find Your Major","size":"medium","linkObject":{"url":"/program"},"colorName":"orange"} -->
<a href="/program" class="btn btn--medium btn--orange">Find Your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Affordable Healthcare","size":"medium"} -->
<h2 class="headline headline--medium">Affordable Healthcare</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"On-site health care providers looking out for you","size":"small"} -->
<h3 class="headline headline--small">
  On-site health care providers looking out for you
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Check in","size":"medium","colorName":"dark-orange"} -->
<a href="" class="btn btn--medium btn--dark-orange">Check in</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Campus Hopper","size":"medium"} -->
<h2 class="headline headline--medium">Campus Hopper</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Free Hopper Bus to take you where you need to go","size":"small"} -->
<h3 class="headline headline--small">
  Free Hopper Bus to take you where you need to go
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Routes and Timetables","size":"medium","colorName":"orange"} -->
<a href="" class="btn btn--medium btn--orange">Routes and Timetables</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Meal Plans","size":"medium"} -->
<h2 class="headline headline--medium">Meal Plans</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We offer healthy lunch plans for all our students","size":"small"} -->
<h3 class="headline headline--small">
  We offer healthy lunch plans for all our students
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find out more","size":"medium"} -->
<a href="" class="btn btn--medium btn--blue">Find out more</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->
